<!-- フォローボタン(MYPAGEのユーザーがcurrent_userでなければ表示------------------------------------------------------>
<% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% else %>
<div class="my_follow_form">
<div class="my_follow_count mt-3">
<div class="follower">
      <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black; " class="follow_number">フォロワー<%= @user.followers.count %></h5>
      <% end %>
  </div>
  <div class="follow">
      <%= link_to following_user_path(@user.id) do %>
                <h5 style="color: black;" class="follow_number">フォロー<%= @user.following.count %></h5>
      <% end %>
  </div>
</div>
</div>
<% end%>
