<div class="follow_form">
<div class="follow_count">
<div class="follower">
      <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black; " class="follow_number">フォロワー<%= @user.followers.count %></h5>
      <% end %>
  </div>
  <div class="follow">
      <%= link_to following_user_path(@user.id) do %>
                <h5 style="color: black;" class="follow_number">フォロー<%= @user.following.count %></h5>
      <% end %>
  </div>
</div>
<%= form_for(current_user, url: relationship_path(@user), method: :delete, remote: true) do |f| %>
  <%= f.submit "フォロー解除", class: "btn btn-outline-secondary" %>
<% end %>

</div>