<div class="container">
<div class="form-style-6 mt-5 user-form">
<h2>ユーザー情報編集</h2>

<%= form_with(model: @user, local: true) do |f| %>
 
<%= render 'layouts/error_messages', model: f.object %>
  
   <div class="field mt-5">
        <%= f.label :image,"プロフィール画像" %> <br>
        <%= f.file_field :image, autofocus: true, autocomplete: "image",id:'myfile' %>
   </div>

  <%# <img id="img1" style="width:300px;height:300px;" /> %>
  <label for="myfile">
     <% if current_user.image.present? %>
               <%= image_tag current_user.image ,class:'user_avatar',id:"img1"  %>
               <% else %>
                <%= image_tag 'noimage1.png' ,class:'user_avatar',id:"img1" %>
               <% end %>
    <i class="fas fa-plus-square fa-2x ml-1"></i>
  </label>
   <div class="field mt-5">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>
 

 <div class="field mt-5">
        <%= f.label :profile%>
        <%= f.text_field :profile, autofocus: true %>
      </div>
  <div class="actions">
    <%= f.submit "プロフィールを変更" %>
  </div>

  </div>

  
<% end %>