<div class="container">
<h2 class="follow_title"><%= @user.nickname%>さんのフォローワー</h2>

<ul class="follow_lists">
   <% @users.each do  |user|%>
   <li class="follow_list">
    <%= image_tag user.image ,class:'user_avatar3' %>
     <%= link_to user_path(user.id) ,class:"user_path2" do %>
    <p class="follow_name"> <%= user.nickname%></p>
    <%end%>
     <p class="follow_profile"> <%= user.profile%></p>
    </li>
   <% end %>

</ul>
</div>
