<div class="container">
    <div class="user_image">
     <% if @user.image.present? %>
     <%= image_tag @user.image ,class:'user_avatar' %>
     <% else %>
      <%= image_tag 'm_e_others_501.png' ,class:'user_avatar' %>
     <% end %>
     <h1 class="user_nickname"> <%= @user.nickname %></h1>
     </div>
    <div class="user_edit_btn">
        <% if user_signed_in?%>
          <% if current_user.id== @user.id %>
              <%= link_to "Edit Profile", edit_user_path,class:"btn btn-border edit_profile"  %>
              <% unless current_user.sns_credentials.present? %>
              <%= link_to "パスワード変更",  edit_user_registration_path,class:"btn btn-border edit_profile"  %>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"btn btn-border"  %>
            <% end %>
        <% end %>
    </div>

    

    <div>
 <%= render "follow_form" %>
  </div>

     <h2 class="introduction">自己紹介：</h2>
      
     <p class="user_profile"><%= @user.profile%></p>

</div>

  <div class="latest-post">
    
    <h1 class="latest-title mb-5"><%= @user.nickname %>さんの最新投稿</h1>
    
    <div class="container">
      <div class="row d-flex">
        <% if @posts.length != 0   %>
            <% @posts.each do |post| %>
              <div class="post col4 ml-5 col-xs-6">
              <%= link_to post_path(post.id) , class: "post_link" do%>
              <div class="image">
                <%= image_tag post.image ,width:'230px',height:'205px' %>
              </div>
              <div class="info">
                <div class="user-info">
                  <p class="user-name">投稿者：<%= post.user.nickname %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">スポット名：<%= post.name %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">所在地：<%= post.area.parent.name %></p>
                </div>
              </div>
              </div>
              <% end %>
           <% end %>
        <% else %>
            <p class="dummy_data">この方の投稿はまだありません</p>
        <% end %>
         </div>
        </div>
    </div>