<div class="container">
    <div class="user_image">
     <%= image_tag @user.image ,class:'user_avatar' %>
     <h1 class="user_nickname"> <%= @user.nickname %></h1>
     </div>
     <h2 class="introduction">自己紹介：</h2>
     <p class="user_profile"><%= @user.profile%></p>

   
</div>

  <div class="latest-post">
          <h1 class="latest-title mb-5"><%= @user.nickname %>さんの最新投稿</h1>
          <div class="container">
           <div class="row d-flex">
            <% @posts.each do |post| %>
              <div class="post col4 ml-5 col-xs-6">
              <%= link_to post_path(post.id) , class: "post_link" do%>
              <div class="image">
                <%= image_tag post.image ,width:'230px',height:'205px' %>
              </div>
              <div class="info">
                <div class="user-info">
                  <p class="user-name">投稿者：<%= post.user.nickname %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">スポット名：<%= post.name %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">所在地：<%= post.area.parent.name %></p>
                </div>
              </div>
            </div>
              <% end %>
           <% end %>