div class="container">
  <div class="form-style-6 mt-5 user-form">
    <h2>スポット情報編集</h2>
    <%= form_with(model: @post, local: true) do |f| %>
   <%# <%= render 'layouts/error_messages', model: f.object %> 
    <div class="field mt-5">
      <%= f.label :name ,"スポット名" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
   </div>
   <p style="color: red;"><%= @post.errors.full_messages_for(:name).first %>

  <div class="field mt-5">
    <%= f.label :description ,"スポットの説明"%>
    <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
  </div>
  <p style="color: red;"><%= @post.errors.full_messages_for(:description).first %>
  
<div class="field mt-5">
   <%= f.label :prefecture_id ,"都道府県"%>
   <%= f.select :prefecture_id, [['----'],['大阪', 1], ['兵庫', 2],['京都', 3],['滋賀', 4],['奈良', 5],['和歌山', 7]], {}, { class:"serect_field",include_blank: "選択してください" } %>
 <div class="append__category">
 
 </div>
</div>
  
  <div class="field mt-5">
    <%= f.label :address,"スポットの住所" %>
    <%= f.text_field :address, id:"address" ,  autocomplete: "address" %>
  </div>
  <p style="color: red;"><%= @post.errors.full_messages_for(:address).first %>
  
  <%= f.hidden_field :latitude, id:"latitude" , autocomplete: "latitude" %>
  <%= f.hidden_field :longitude, id:"longitude" , autocomplete: "longitude" %>

  <p id="position_show"><%= @post.latitude%></p>
  <p id="position_show2"><%= @post.longitude%></p>

    <input type="button" value="マップで検索" id="map_search">
<p style="color: red;"><%= @post.errors.full_messages_for(:latitude).first %>
<!-- 下の1行を追加 -->
　　<div id="display"></div>
　　<div id='map' class="map1"></div>

   <div class="field mt-5">
        <%= f.label :image,"スポットの画像" %> <br>
        <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
   </div>
   <p style="color: red;"><%= @post.errors.full_messages_for(:image).first %>

  <div class="actions mt-5">
    <%= f.submit "スポットを編集" %>
  </div>
  </div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>