<div class="top-image">
            <%= image_tag "top-image.png", class:'catch-image' %>
            <%# <p class="top-image__subcatchcopy">〜関西のチルなスポット共有サイト〜</p> %>
            <%# <p class="top-image__catchcopy mt-5">あなたのチルはなんですか？</p> %>
</div>

      <div class="latest-post">
          <h1 class="latest-title mb-5">みんなの最新投稿</h1>
          <div class="container">
           <div class="row d-flex">
            <% @posts.each do |post| %>
              <div class="post col4 ml-5 col-xs-6">
              <%= link_to post_path(post.id) , class: "post_link" do%>
              <div class="image">
                <%= image_tag post.image ,width:'230px',height:'205px' %>
              </div>
              <div class="info">
                <div class="user-info">
                 <%= link_to user_path(post.user.id) ,class:"user_path" do %>
                  <p class="user-name">投稿者：<%= post.user.nickname %></p>
                <%end%>
                </div>
                <div class="spot-info">
                   <p class="spot-name">スポット名：<%= post.name %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">所在地：<%= post.area.parent.name %></p>
                </div>
              </div>
            </div>
              <% end %>
           <% end %>

            
          </div>
            

        </div>
      </div>
        <div class="category">
         <h1 class="category_title">都道府県から探してみる</h1>

        <div class="container">
         
           <div class="container d-flex">
         
          <ul class="category_lists">
                   <div class="row rows-cols2">
           <% @parents.each do  |parent|%>
            <%= link_to category_path(parent.id) , class: "post_link" do%>
          <li><%= parent.name %></li>
          <% end %>
          <% end %>
          </div>
             </ul>
      </div> 
        </div>
      </div>
<footer>
  <div class="container">
    <p class="footer-logo">Kansai_chill_spots</p>
    <div class="navigation">
      <p><i class="fas fa-share-square"></i>　お問い合わせ</p>
      <p class="copyright">©KOUHEI-MASUDA</p>
    </div>
  </div>
</footer>