<div class="container">
    <div class="detail">
        <%= image_tag @post.image ,class: "detail__image" %>
<div class="likes_buttons">
        <%= render partial: "likes/like", locals: { post:@post } %>
        </div>
 <div class="nav-btn edit_btn">
          <% if current_user.id== @post.user.id %>
              <%= link_to "編集する", edit_post_path,class:"btn btn-border"  %>
              <%= link_to "削除する", post_path(@post),class:"btn btn-border",method: :delete  %>
            <% end %>
 </div>
        <p class="detail__text spot_name">スポット名：<%= @post.name%></p>
        <p class="detail__text spot_description"><%= @post.description%></p>
        <p class="detail__text spot_address">所在地：<%= @post.address%></p>
        <div id='map' class="map2"></div>
        <p id="position_show"><%= @post.latitude%></p>
        <p id="position_show2"><%= @post.longitude%></p>
        <h2 class="detail__text comments_all">コメント一覧</h2>
        <% if user_signed_in?%>
       <%= form_with(model:[@post,@comment], local: true) do |f| %>
        <div class="actions mt-5">
            <div class="field mt-5 comment_form">
                <%= f.label :text ,"コメントする" ,class:"mr-3"%>
                <%= f.text_field :text,  autocomplete: "name",class:"mr-3 comment_textarea"%>
                <%= f.submit "投稿" ,class:"mr-3"%>
        </div>
        </div>
       <% end %>
       <% end %>
        <div class="comments">

              <% @comments.each do |comment| %>
             <div class="comment">
            　　<p class="comment__content"><%= comment.text %></p>
            　　<div class="comment__user-info">
                <p class="comment__user-info__name mr-3"><%= comment.user.nickname %></p>
                <p class="comment__user-info__time"><%= comment.user.created_at.strftime("%Y-%m-%d %H:%M")
 %></p>
                </div>
             </div>
             <% end %>
            <%# <div class="comment">
            　　<p class="comment__content">すごいいい景色ですね</p>
            　　<div class="comment__user-info">
                <p class="comment__user-info__name">ますださん</p>
                <p class="comment__user-info__time">2020-02-22-00:00</p>
                </div>
            </div>
            <div class="comment">
            　　<p class="comment__content">すごいいい景色ですね</p>
            　　<div class="comment__user-info">
                <p class="comment__user-info__name">ますださん</p>
                <p class="comment__user-info__time">2020-02-22-00:00</p>
                </div>
            </div> %>
        </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
