<div class="latest-post">
        <h1 class="latest-title mb-5"><%= @area.name %>のスポット</h1>
          <div class="container">
             <div class="row d-flex">
           <% @category.each do |category| %>
            
              <div class="post col-12  col-xl-3 col-md-4 col-lg-3 ">
              <%= link_to post_path(category.id) , class: "post_link" do%>
              <div class="image">
                <%= image_tag category.image ,width:'230px',height:'205px' %>
              </div>
              <div class="info">
                <div class="user-info">
                 <%= link_to user_path(category.user.id) ,class:"user_path" do %>
             
                  <p class="user-name">
                <% if category.user.image.present? %>
                  <%= image_tag category.user.image ,class:'user_avatar2' %>
                <% else %>
                  <%= image_tag 'noimage1.png' ,class:'user_avatar2' %>
               <% end %>
               <%= category.user.nickname %>
               </p>
                <%end%>
                </div>
                <div class="spot-info">
                   <p class="spot-name">スポット名：<%= category.name %></p>
                </div>
                <div class="spot-info">
                   <p class="spot-name">所在地：<%= category.area.parent.name %></p>
                </div>
              </div>
            </div>
              <% end %>
           <% end %>
          </div>

        </div>
      </div>




<div class="category">
         <h1 class="category_title">都道府県から探してみる</h1>

        <div class="container">
         
           <div class="container d-flex">
         
          
                   <ul class="category_lists">
           <% @parents.each do  |parent|%>
            <%= link_to category_path(parent.id) , class: "post_link" do%>
          <li><%= parent.name %></li>
          <% end %>
          <% end %>
           </ul>
      </div> 
        </div>
      </div>


<div class="category">
  <h1 class="category_title"><%= @prefecture.name%>の市町村から探してみる</h1>
  <div class="container d-flex">
    <ul class="category_lists">
      <div class="row rows-cols2 category_lists">
        <%   @category_children.each do  |children|%>
          <%= link_to area_show_category_path(children.id) , class: "post_link col-6-sm text-center" do%>
            <li><%= children.name %></li>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div> 
</div>

<footer>
  <div class="container">
    <p class="footer-logo">Kansai_chill_spots</p>
    <div class="navigation">
      <p><i class="fas fa-share-square"></i>　お問い合わせ</p>
      <p class="copyright">©KOUHEI-MASUDA</p>
    </div>
  </div>
</footer>